{% extends 'base.html.twig' %}

{% block title %}HDD{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1>HDD</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
        <div class="col-4" id="colonne-1"></div>
            <div class="col 4" id="colonne-1">
                <br><br>
                <h2>Creer :</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-4" id="colonne-1"></div>
            <div class="col-4" id="colonne-1">
                <FORM action=".php" METHOD="GET">
                    <label for="nom">nom  :</label>
                        <br>
                    <input type="String" id="nom" name="nom1">
                        <br>
                        <br>
                    <label for="Modele">Modele :</label>
                        <br>
                    <input type="String" id="modele" name="modele1">
                        <br>
                        <br>
                    <label for="Marque">Marque :</label>
                        <br>
                    <input type="String" id="Marque" name="Marque1">
                        <br>
                        <br>	   
                    <label for="Capacite_Stockage">Capacité :</label>
                        <br>
                    <input type="number" id="Capa_HDD" name="Capa_HDD1">
                        <br>
                        <br>
                    <label for="Vitesse_Rota">Vitesse de rotation :</label>
                        <br>
                    <input type="number" id="Vitesse_Rota" name="Vitesse_Rota1">
                        <br>
                        <br>	   
                    <label for="Stock">Stock :</label>
                        <br>
                    <input type="number" id="stock" name="stock1">	
                        <br>
                        <br>
                    <input type="submit" value="Créer" name="creer">
                </form>
            </div>
        </div>
      </div> 

{% endblock %}