
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-4"></div>

        <div class="col-4">
            <h1>Accueil :</h1>
        </div>
    </div>
</div>

<p> Bienvenue sur ce site, vous pourrez touver un PC a votre goût !<br>
    Mais aussi choisir ces propre composant !!!</p>
{% endblock %}

