{% extends 'base.html.twig' %}

{% block title %}Ordinateur{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-5">
                <h1>Ordinateur</h1>
            </div>
        </div>
    </div> 
 
 
 <div class="col-lg-12">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="align-middle text-center" colspan="13">Ordinateur</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="align-middle text-center">
                        <th class="text-nowrap">Nom</th>
                        <th class="text-nowrap">Modele</th>
                        <th class="text-nowrap">Marque</th>
                        <th class="text-nowrap">Carte mére</th>
                        <th class="text-nowrap">Processeur</th>
                        <th class="text-nowrap">Alimentation</th>
                        <th class="text-nowrap">Disque dur</th>
                        <th class="text-nowrap">SSD</th>
                        <th class="text-nowrap">VentiRAD et AIO</th>
                        <th class="text-nowrap">RAM</th>
                        <th class="text-nowrap">Carte graphique</th>
                        <th class="text-nowrap">Boitier</th>
                        <th class="text-nowrap">Actions</th>
                    </tr>
                                <tr class="align-middle text-center">
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"><button onclick="redirection_Modifier()">Modifier<button onclick=#>Supprimer</button>
                                                        <span class="badge text-bg-danger"></span>
                                                    </td>
                    </tr>
                                <tr class="align-middle text-center">
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"><button onclick="redirection_Modifier()">Modifier<button onclick=#>Supprimer</button></td>
                    </tr>
                                <tr class="align-middle text-center">
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"><button onclick="redirection_Modifier()">Modifier<button onclick=#>Supprimer</button></td>
                    </tr>
                                    <tr class="align-middle text-center">
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"><button onclick="redirection_Modifier()">Modifier<button onclick=#>Supprimer</button>

                                                    </td>
                    </tr>
                                    <tr class="align-middle text-center">
                            <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                            <td class="text-nowrap"><button onclick="redirection_Modifier()">Modifier<button onclick=#>Supprimer</button>
                                                        <span class="badge text-bg-danger"></span>
                                                    </td>
                    </tr>
                                    <tr class="align-middle text-center">
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"><button onclick="redirection_Modifier()">Modifier<button onclick=#>Supprimer</button>
                                                        
                                                    </td>
                    </tr>
                                    <tr class="align-middle text-center">
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"><button onclick="redirection_Modifier()">Modifier<button onclick=#>Supprimer</button>
                                                        <span class="badge text-bg-danger"></span>
                                                    </td>
                    </tr>
                                    <tr class="align-middle text-center">
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></td>
                        <td class="text-nowrap"></button></td>
                        <td class="text-nowrap"><button onclick="redirection_Modifier()">Modifier<button onclick=#>Supprimer</button>
                                                        <span class="badge text-bg-danger"></span>
                                                    </td>
                    </tr>
            </table>
        </div>
    </div
</div>
    
    <a href="{{ path('ordinateur.add')}}">Ajoutez</a>
    <a href="{{ path('ordinateur.edit{{id}}')}}">Ajoutez</a>


    </script>
{% endblock %}