{% extends 'base.html.twig' %}

{% block title %}Ordinateur{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-5">
                <h1>Ordinateur</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
        <div class="col-4" id="colonne-1"></div>
            <div class="col 4" id="colonne-1">
                <br><br>
                <h2>Modifier :</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-4" id="colonne-1"></div>
            <div class="col-4" id="colonne-1">
                <FORM action="" METHOD="GET">
                    <label for="nom">nom  :</label>
                        <br>
                    <input type="String" id="nom" name="nom1">
                        <br>
                    <label for="Modele">Modele :</label>
                        <br>
                    <input type="String" id="modele" name="modele1">
                        <br>
                    <label for="Marque">Marque :</label>
                        <br>
                    <input type="String" id="Marque" name="Marque1">
                        <br>
                      <label for="Carte_Mere">Carte mére :</label>
                        <br>
                    <input type="number" id="Carte_Mere" name="Carte_Mere">	
                        <br>
                    <label for="Processeur">Processeur :</label>
                        <br>
                    <input type="number" id="Processeur" name="Processeur1">	
                        <br>
                        <label for="Modele">Alimentation :</label>
                        <br>
                    <input type="number" id="Alimentation" name="Alimentation1">
                        <br>
                    <label for="HDD">Disque dur :</label>
                        <br>
                    <input type="number" id="HDD" name="HDD1">
                        <br>
                      <label for="SSD">SSD :</label>
                        <br>
                    <input type="number" id="SSD" name="SSD1">	
                        <br>
                    <label for="VentiRADAIO">VentiRAD et AIO :</label>
                        <br>
                    <input type="number" id="VentiRADAIO" name="VentiRADAIO1">	
                        <br>
                    <label for="RAM">RAM :</label>
                        <br>
                    <input type="number" id="RAM" name="RAM1">
                        <br>
                    <label for="Carte_Graphique">Carte graphique :</label>
                        <br>
                    <input type="number" id="Carte_Graphique" name="Carte_Graphique1">
                        <br>
                      <label for="Boitier">Boitier :</label>
                        <br>
                    <input type="number" id="Boitier" name="Boitier1">	
                        <br>		   
                    <label for="Actions">Actions :</label>
                        <br>
                    <input type="number" id="Actions" name="Actions1">	
                        <br>
                        <br>
                    <input type="submit" value="Modifier" name="Modifier">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div> 

{% endblock %}     
                 