{% extends 'base.html.twig' %}

{% block title %}Carte Graphique{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1>Carte Graphique</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
        <div class="col-4" id="colonne-1"></div>
            <div class="col 4" id="colonne-1">
                <br><br>
                <h2>Creer :</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-4" id="colonne-1"></div>
            <div class="col-4" id="colonne-1">
                <FORM action=".php" METHOD="GET">
                    <label for="nom">nom  :</label>
                        <br>
                    <input type="String" id="nom" name="nom1">
                        <br>
                        <br>
                    <label for="Modele">Modele :</label>
                        <br>
                    <input type="String" id="modele" name="modele1">
                        <br>
                        <br>
                    <label for="Marque">Marque :</label>
                        <br>
                    <input type="String" id="Marque" name="Marque1">
                        <br>
                        <br>	   
                    <label for="Format_Boitier">Chipset graphique :</label>
                        <br>
                    <input type="String" id="Chipset_Graphique" name="Chipset_Graphique1">
                        <br>
                        <br>
                    <label for="Format_Alim">Taille de mémoire	 :</label>
                        <br>
                    <input type="String" id="Taille_Memoire" name="Taille_Memoire1">
                        <br>
                        <br>
                    <label for="Format_Alim">Type de mémoire :</label>
                        <br>
                    <input type="String" id="Type_Memoire" name="Type_Memoire1">
                        <br>
                        <br>	   
                    <label for="Stock">Stock :</label>
                        <br>
                    <input type="number" id="stock" name="stock1">	
                        <br>
                        <br>
                    <input type="submit" value="Créer" name="creer">
                </form>
            </div>
        </div>
      </div> 

{% endblock %}